$bgc-color: #fcdb00;
$main-color: #010101;
$subheading-color: #313841;
$heading-content-color: #555555;
$feature-color: #898989;
$page-top-color: #2b2b2b;
// social media
$tweeter-color: rgb(0, 172, 237);
$facebook-color: rgb(59, 89, 152);
$printerest-color: rgb(203, 32, 40);
$googleplus-color: rgb(218, 39, 19);

$font-family-primary: 'PT Sans';
$nav-height: 6rem;